body{
background:white;
}
h1 {
  text-align: center;
  padding-bottom: 100px;
}
#plane1 {
  height: 50px;
  position:relative;
}

#plane2 {
  height: 50px;
  position:relative;;

}

.row1 {
  border: 1px solid red;
  height: 75px;
  padding-top: 10px;
  margin: 38px 0px;
}

.row2 {
  border: 1px solid blue;
  height: 75px;
  padding-top: 10px;
  margin: 38px 0px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
